
<%- include("partials/head") -%>


<body class="container">
    <div class="d-flex justify-content-between">
        <img src="https://cdn4.iconfinder.com/data/icons/hodgepodge-free/32/bar_chart_graph_analysis-128.png"
            alt="balance" />
    </div>
    <hr />
    <h1 class="text-center p-5">My Balance</h1>
    <hr />
    <br />
    <p class="text-center">THE APP THAT HELPS YOU ORGANIZE YOUR EXPENSES</p>

    <div class="d-grid gap-2 d-md-flex justify-content-md-center align-items-center p-5">
        <a href="/balance"><button class="btn btn-primary btn-lg">GET STARTED!</button></a>
    </div>

    <%- include("partials/footer") -%>