<aside>
    <div class="d-flex flex-column justify-content-around">
        <a href="/balance/capitalForm"><button class='btn btn-success m-3'>Add Capital</button></a>
        <a href="/balance/expensesForm"><button class='btn btn-dark m-3'>Add Expenese</button></a>
        <a href="/balance/showMoves"><button class='btn btn-warning m-3'>Show Moves</button></a>
    </div>
</aside>